<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.TopDownShooter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_new_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_new_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Top_downShooter">

        <activity
            android:name=".classes.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".classes.activities.MainMenuActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".classes.activities.SingleGameActivity"
            android:exported="true">

        </activity>

        <activity android:name=".classes.activities.gameActivities.SurvivalGameActivity"
            android:exported="true"
            android:theme = "@style/Theme.Design.NoActionBar"
            android:screenOrientation="landscape">

        </activity>

        <activity android:name=".classes.activities.JoystickTestActivity"
            android:exported="true">

        </activity>



    </application>

</manifest>